<div>
                    <div
                        class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium">
                        <div class="flex items-center gap-2">
                            <a href="../dashboard/dashboard.html"
                                class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Avankart</a>
                            <div class="icon stratis-slash-01-forward"></div>
                        </div>
                        <div class="flex items-center gap-2">
                            <a href="#" class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">İstifadəç
                                hovuzu</a>
                            <div class="icon stratis-slash-01-forward"></div>
                        </div>
                        <div class="flex items-center gap-2">
                            <span class="text-tertiary-text dark:text-tertiary-text-color-dark cursor-default">Admin
                                panel</span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between border-b-[0.5px] border-stroke">
                        <div id="toggleContainer"
                            class="flex !mb-[12.5px] gap-[8px] mt-[12.5px] items-center border border-surface-variant rounded-full p-1 dark:bg-table-hover-dark dark:border-on-surface-variant">
                            <button id="allButton" onclick="toggleActiveStatus(this)"
                                class="px-2 py-[3px] text-messages hover:text-messages text-[12px] rounded-full cursor-pointer bg-inverse-on-surface font-medium">
                                Hamısı (60)
                            </button>
                            <span id="activeButton" onclick="toggleActiveStatus(this)"
                                class="px-2 py-[3px] text-tertiary-text hover:text-messages text-[12px] rounded-full cursor-pointer font-medium">
                                Aktiv (40)
                            </span>
                            <span id="deactiveButton" onclick="toggleActiveStatus(this)"
                                class="px-2 py-[3px] text-tertiary-text hover:text-messages text-[12px] rounded-full cursor-pointer font-medium">
                                Deaktiv (12)
                            </span>
                            <span id="deletedButton" onclick="toggleActiveStatus(this)"
                                class="px-2 py-[3px] text-tertiary-text hover:text-messages text-[12px] rounded-full cursor-pointer font-medium">
                                Silinmişlər (9)
                            </span>
                            <span id="pendingButton" onclick="toggleActiveStatus(this)"
                                class="px-2 py-[3px] text-tertiary-text hover:text-messages text-[12px] rounded-full cursor-pointer font-medium">
                                Silinmə gözləyir (1)
                            </span>
                        </div>
                        <div class="flex items-center gap-2">
                            <div
                                class="relative font-normal flex items-center max-w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus-within:ring-0 focus-within:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                <input id="customSearch" type="text" placeholder="İstifadəçi axtar..."
                                    class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                                <div class="absolute right-3">
                                    <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                                </div>
                            </div>
                            <div
                                class="w-[155px] h-[34px] border-[1px] border-surface-variant rounded-[100px] flex items-center justify-between gap-2 pl-[18px] pr-[20px] hover:text-primary dark:bg-table-hover-dark dark:border-on-surface-variant dark:text-white">
                                <a href="#" class="text-[13px] font-medium">Səhifəni yenilə</a>
                                <a href="#"
                                    class="icon stratis-arrow-refresh-04 !w-[12px] !h-[12px] text-messages hover:text-messages dark:text-white"></a>
                            </div>
                            <div onclick="openFilterModal()"
                                class="w-[103px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                <div
                                    class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]">
                                </div>
                                <span class="">Filterlə</span>
                            </div>
                            <div class="relative">
                                <div onclick="openSutunlarPopup()"
                                    class="w-[116px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                    <div class="icon stratis-space-vertical text-messages"></div>
                                    <span class="">Sütunlar</span>
                                </div>
                                <div id="sutunlarPopup" class="hidden absolute top-full right-0 mt-4 z-200">
                                    <div
                                        class="absolute right-4 -top-2 w-4 h-4 transform rotate-45 border-t border-l border-[#0000001A] bg-body-bg z-10">
                                    </div>
                                    <div
                                        class="w-[244px] h-[296px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_12px_0px_rgba(0,0,0,0.1)] rounded-[8px] bg-body-bg z-0">
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-cinsi"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-cinsi" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Cinsi</div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-dogum"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-dogum" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Doğum tarixi
                                                </div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-vezife"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-vezife" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Vəzifəsi</div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-email"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-email" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Email</div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-telefon"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-telefon" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Telefon nömrəsi
                                                </div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-uzvluq"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-uzvluq" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Üzvlük</div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-qeydiyyat"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-qeydiyyat" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Qeydiyyat tarixi
                                                </div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-dogrulama"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-dogrulama" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Doğrulama</div>
                                            </label>
                                        </div>
                                        <div class="flex items-start gap-2 mb-1 pt-[7.5px] pl-3">
                                            <label for="checkbox-status"
                                                class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                                <input type="checkbox" id="checkbox-status" class="peer hidden"
                                                    checked="">
                                                <div
                                                    class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                                    </div>
                                                </div>
                                                <div class="font-medium text-[13px] text-hover-button">Status</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full rounded-[8px] mt-3 flex flex-col gap-3 mb-2 relative">
                        <table id="myTable">
                            <thead class="border-none pb-0.5">
                                <tr
                                    class="bg-container-2 border-none text-xs text-tertiary-text font-base !h-[40px] dark:bg-table-hover-dark dark:text-white">
                                    <th class="filtering rounded-l-lg">Ad və soyad</th>
                                    <th class="filtering">Cinsi</th>
                                    <th class="filtering">Doğum tarixi</th>
                                    <th class="filtering">Vəzifəsi</th>
                                    <th class="filtering">Email</th>
                                    <th class="filtering">Telefon nömrəsi</th>
                                    <th class="filtering">Status
                                    <th class="rounded-r-lg"></th>
                                </tr>
                            </thead>
                            <tbody class="font-base text-xs">

                            </tbody>
                        </table>
                    </div>
                    <div class="pt-2">
                        <div class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
                            <div class="py-5 flex items-center justify-between">
                                <div class="text-[13px] flex items-center gap-2">
                                    <span class="font-normal opacity-65">Səhifə sayı:</span>
                                    <span id="pageCount" class="font-medium">1 / 1</span>
                                </div>
                                <div class="flex items-center gap-5">
                                    <div>
                                        <div id="customPagination" class="flex items-center">
                                            <div class="flex items-center justify-center pr-[42px] h-8 ms-0 leading-tight opacity-50 cursor-not-allowed"
                                                onclick="changePage(0)">
                                                <div class="icon stratis-chevron-left !h-[12px] !w-[7px]"></div>
                                            </div>
                                            <div class="flex gap-2">
                                                <button class="cursor-pointer w-10 text-[13px] h-10 rounded-[8px] hover:text-messages
                                bg-[#F6D9FF] text-messages" onclick="changePage(0)">1</button>
                                            </div>
                                            <div class="flex items-center justify-center h-8 ms-0 pl-[42px] leading-tight opacity-50 cursor-not-allowed"
                                                onclick="changePage(0)">
                                                <div class="icon stratis-chevron-right !h-[12px] !w-[7px]"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <input class="page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px]
                      focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                      active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                      transition-all ease-out duration-300" type="text" placeholder="Səhifə" />
                                        <a href="#"
                                            class="go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- popups -->

            <div id="confirmModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-150">
        <div class="relative w-[450px] h-[399px] border-[#0000001A] border-[2px]
                  shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white z-0">
            <div class="flex items-center justify-between p-6">
                <h2 class="text-[15px] font-medium text-messages">Hesab təsdiqi</h2>
                <div onclick="closeConfirmModal()" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>
            <div class="flex flex-col  mb-[24px] max-w-[400px] w-[100%] m-auto">
                <h2 class=" pb-[4px] text-[17px]  font-semibold  leading-[160%]  text-messages ">
                    OTP</h2>
                <div class="flex flex-wrap gap-[3px] font-normal text-[13px] leading-[160%]  text-messages opacity-100">
                    <span class="font-medium">ramin.orucovvv@gmail.com</span>
                    <span class="opacity-65 font-normal">email adresinə göndərilən 6 </span>
                    <span class=" opacity-65 font-normal">rəqəmli şifrəni daxil edin</span>
                </div>
            </div>
            <form id="confirmForm">
                <div class=" text-center space-y-4 max-w-[400px] w-[100%] m-auto">
                    <div id="countdown"
                        class="text-messages bg-inverse-on-surface  rounded-full w-[60px] h-[27px] mx-auto py-1 text-[12px] mb-[24px] font-medium  leading--[160%]">
                        4:59</div>
                    <div class="grid grid-cols-6 gap-2 mt-[8px]">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                    </div>
                </div>
                <div class="text-center  flex justify-center max-w-[400px] w-[100%] m-auto">
                    <p class="font-normal leading--[160%] opacity-[65%] text-[12px] pr-[4px] pt-[24px]">
                        Email adresinə mesaj gəlmədi?</p>
                    <a href="#"
                        class="text-[12px] font-medium text-messages  px-[12px] py-[3px] mt-[21px] hover:bg-[#F6D9FF] rounded-[50px] active:bg-[#F6D9FF] disabled:bg-none  ">Yenidən
                        göndər</a>
                </div>
                <div class="absolute bottom-[24px] right-[12px] flex gap-[12px]">
                    <button href="#"
                        class=" text-[13px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[83px] !h-[34px] cursor-pointer"
                        onclick="closeConfirmModal()">Ləğv et</button>
                    <button href="#"
                        class=" text-[13px] text-on-primary font-medium bg-primary rounded-[50px] !w-[91px] !h-[34px] cursor-pointer hover:bg-[#88649A] transition">Təsdiqlə</button>
                </div>
            </form>
        </div>
    </div>

    <div id="mailadressiPopup" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="relative w-[450px] h-[219px] border-[#0000001A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-body-bg z-100">
            <div class="flex justify-between ml-[24px] mr-[29px] mt-[26px]">
                <p class="font-medium text-[15px]">Mail adresini dəyiş</p>
                <div onclick="closeMailadressiPopup()" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>
            <div class="font-poppins mt-5 ml-6">
                <label
                    class="block  font-medium text-[12px] leading-[160%] pb-[6px]  text-messages  opacity-65">Email</label>
                <input type="email" placeholder="Email adresinizi daxil edin" class="cursor-pointer max-w-[400px] w-[100%] h-[34px] font-poppins font-normal text-[12px] leading-[160%] border-[1px] border-stroke border-opacity-[10%] rounded-full pl-[12px] placeholder-on-surface-variant-dark
                hover:bg-input-hover
                focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                transition-all ease-out duration-300">
            </div>
            <div class="absolute bottom-[24px] right-[12px] flex gap-[12px]">
                <button href="#"
                    class=" text-[12px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[83px] !h-[34px] cursor-pointer"
                    onclick="closeMailadressiPopup()">Ləğv et</button>
                <button href="#"
                    class=" text-[12px] text-on-primary font-medium bg-primary rounded-[50px] !w-[156px] !h-[34px] cursor-pointer hover:bg-[#88649A] transition"
                    onclick="openConfirmModal()">Dəyişikliyi
                    təsdiqlə</button>
            </div>
        </div>
    </div>

    <div id="twoStepVerificationPop" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div class="w-[306px] border-[0.5px] border-[#0000001A] rounded-[12px] p-3 bg-body-bg">
            <div class="bg-[#FAFAFA] w-[45px] h-[45px] rounded-[500px] flex items-center justify-center">
                <div class="icon stratis-lock-02 text-messages"></div>
            </div>
            <div class="mt-1 mb-4">
                <div class="mb-1 text-[15px] font-medium">2 addımlı doğrulamanı ləğv et</div>
                <div class="text-[13px] font-normal opacity-65">2 addımlı doğrulamanı ləğv etmək
                    istədiyinizə <br>
                    əminsiniz?</div>
            </div>
            <div class="flex items-center justify-end">
                <div class="flex items-center gap-3">
                    <div class="bg-surface px-3 py-[3px] rounded-[50px] text-[12px] font-medium text-on-surface-variant cursor-pointer"
                        onclick="closeTwoStepVerificationPop()">Xeyr</div>
                    <div class="bg-[#745086] text-white rounded-[100px] px-[18px] py-[3px] text-[12px] font-medium cursor-pointer hover:bg-[#88649A]"
                        onclick="openConfirmModal()">Bəli, ləğv et</div>
                </div>
            </div>
        </div>
    </div>

    <div id="aktivModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="relative bg-body-bg w-[306px] h-[208px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] z-0 dark:bg-[#161E22]">
            <div
                class="flex items-center dark:bg-[#2E3135] justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] cursor-pointer bg-inverse-on-surface rounded-[50%]">
                <div class="icon stratis-file-check-01 w-[16px] h-[17px] text-messages dark:text-[#FFFFFF]"></div>
            </div>

            <h2 class="ml-3 mt-3 text-messages font-medium text-[15px] dark:text-white">
                Aktiv et
            </h2>

            <div
                class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-100">
                <span class="font-medium opacity-65 dark:text-[#FFFFFFA6] pr-10">İstifadəçini aktiv etmək istədiyinizə
                    əminsiniz?</span>
            </div>

            <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                <button onclick="closeAktivModal()"
                    class="text-[12px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] cursor-pointer dark:bg-[#36393E] dark:text-white">
                    Xeyr
                </button>
                <button onclick="openConfirmModal()"
                    class="text-[12px] text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px] cursor-pointer">
                    Bəli, təsdiqlə
                </button>
            </div>
        </div>
    </div>

    <div id="deAktivModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="relative bg-body-bg w-[306px] h-[208px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] z-0 dark:bg-[#161E22]">
            <div
                class="flex items-center dark:bg-[#2E3135] justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] cursor-pointer bg-error-hover rounded-[50%]">
                <div class="icon stratis-minus-circle-contained w-[16px] h-[17px] text-error dark:text-[#FFFFFF]"></div>
            </div>

            <h2 class="ml-3 mt-3 text-messages font-medium text-[15px] dark:text-white">
                Deaktiv et
            </h2>

            <div
                class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-100">
                <span class="font-medium opacity-65 dark:text-[#FFFFFFA6] pr-10">İstifadəçini deaktiv etmək istədiyinizə
                    əminsiniz?</span>
            </div>

            <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                <button onclick="closeDeAktivModal()"
                    class="text-[12px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] cursor-pointer dark:bg-[#36393E] dark:text-white">
                    Xeyr
                </button>
                <button onclick="openConfirmModal()"
                    class="text-[12px] text-on-primary font-medium bg-error rounded-[50px] !w-[64px] !h-[25px] cursor-pointer">
                    Bəli, sil
                </button>
            </div>
        </div>
    </div>

    <div id="silinmeMuracietPopUp" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div class="bg-body-bg w-[450px] h-[690px] border-[#0000001A] border-[2px]
              shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px]">
            <div class="flex items-center justify-end p-6">
                <div onclick="closeSilinmeMuracietPopUp()" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>
            <div
                class=" mt-2 gap-[3px] font-normal ml-[24px] mr-[26px] text-center text-[12px] leading-[160%]  font-poppins text-messages opacity-100">
                <div class="text-[17px] font-semibold mb-[5px]">Silinmə müraciəti</div>
                <div class="font-normal  opacity-65 text-[12px]">İstifadəçi məlumatlarını aşadığan kontrol
                    edərək, silinməsi üçün müraciət edə bilərsiniz</div>
            </div>
            <div class="space-y-3 text-[12px] text-messages  ml-[24px] mr-[26px] pt-[24px]">
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50 ">İstifadəçi:</span>
                    <span class=" font-medium">Ramin Orucov</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Cinsi:</span>
                    <span class=" font-medium">Kişi</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Doğum tarixi:</span>
                    <span class=" font-medium">16.12.1997</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Mail</span>
                    <span class=" font-medium whitespace-nowrap">ramin.orucov@gmail.com</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Telefon</span>
                    <span class=" font-medium whitespace-nowrap">+994 50 770 35 22</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Vəzifəsi</span>
                    <span class=" font-medium whitespace-nowrap">UX Designer</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Silən şəxs:</span>
                    <span class=" font-medium whitespace-nowrap">Ramin Orucov</span>
                </div>
            </div>

            <div class="space-y-[6px] ml-[24px] mr-[26px]">
                <label class="block text-messages opacity-65 text-[12px] mt-[12px] font-medium">Silinmə
                    səbəbi</label>
                <div class="relative">
                    <textarea class="w-full h-[73px]  border pt-[3px] pl-[12px] text-gray-700  resize-none focus:outline-none  focus:ring-gray-300 border-stroke border-opacity-[10%] rounded-[8px] text-[12px] placeholder-on-surface-variant-dark
                      hover:bg-input-hover
                      focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0
                      active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                      transition-all ease-out duration-300" placeholder="Silinmə səbəbini daxil edin"
                        maxlength="150 !text-[10px] !text-messages !opacity-50"></textarea>

                    <span class="absolute bottom-2 right-4 text-sm text-gray-400">max: 150</span>
                </div>
            </div>
            <button onclick="openConfirmModal()"
                class="cursor-pointer text-[13px] mt-[33px] flex items-center justify-center ml-[24px] mr-[26px] w-[400px] font-poppins leading-[160%] font-medium h-[34px] bg-error rounded-full text-on-primary">
                Silinmə üçün göndər
            </button>

            <button onclick="closeSilinmeMuracietPopUp()"
                class="cursor-pointer mt-[12px] text-[13px] flex items-center justify-center ml-[24px] mr-[26px] w-[400px]  font-poppins leading-[160%] font-medium h-[34px] bg-surface-bright rounded-full text-  disabled:bg-[#7450864D]  ">
                Ləğv et
            </button>
        </div>
    </div>

    <div id="silinmeTesdiqPopUp" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="bg-body-bg w-[450px] pl-6 pr-[26px] pb-6 border-[#0000001A] border-[2px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px]">
            <div class="flex items-center justify-end py-6">
                <div onclick="closeSilinmeTesdiqPopUp()" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>
            <div
                class=" mt-2 gap-[3px] font-normal ml-[24px] mr-[26px] text-center text-[12px] leading-[160%]  font-poppins text-messages opacity-100">
                <div class="text-[17px] font-semibold mb-[5px]">Silinməni təsdiqlə</div>
                <div class="font-normal  opacity-65 text-[12px]">İstifadəçi məlumatlarını aşağıdan kontrol edərək,
                    silinməni təsdiqləyə bilərsiniz.</div>
            </div>
            <div class="space-y-3 text-[12px] text-messages pt-[24px]">
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50 ">İstifadəçi:</span>
                    <span class=" font-medium">Ramin Orucov</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Cinsi:</span>
                    <span class=" font-medium">Kişi</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Doğum tarixi:</span>
                    <span class=" font-medium">16.12.1997</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Mail</span>
                    <span class=" font-medium whitespace-nowrap">ramin.orucov@gmail.com</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Telefon</span>
                    <span class=" font-medium whitespace-nowrap">+994 50 770 35 22</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Vəzifəsi</span>
                    <span class=" font-medium whitespace-nowrap">UX Designer</span>
                </div>
                <div class="flex justify-between border-b pb-3">
                    <span class="font-normal opacity-50">Silən şəxs:</span>
                    <span class=" font-medium whitespace-nowrap">Ramin Orucov</span>
                </div>
            </div>
            <div class="bg-error-hover flex flex-col gap-1 px-3 py-[10px] mt-3 rounded-lg">
                <div class="text-[12px] text-error font-medium">Silinmə səbəbi</div>
                <div class="text-[11px] text-error font-normal">Qarşılıqlı olaraq müqavilənin pozulduğu üçün bu
                    istifadəçini silin zəhmət olmasa</div>
            </div>
            <button onclick="openConfirmModal()"
                class="cursor-pointer text-[13px] mt-[30px] flex items-center justify-center w-[400px] font-poppins leading-[160%] font-medium h-[34px] bg-error rounded-full text-on-primary">
                Silinmə üçün göndər
            </button>
            <button onclick="closeSilinmeTesdiqPopUp()"
                class="cursor-pointer mt-[12px] text-[13px] flex items-center justify-center w-[400px]  font-poppins leading-[160%] font-medium h-[34px] bg-surface-bright rounded-full text-  disabled:bg-[#7450864D]">
                Ləğv et
            </button>
        </div>
    </div>

    <div id="filterPop" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="w-[450px] font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/hesablashmalar/datatable" id="filterForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">
                            Filter
                        </div>
                        <div onclick="openFilterModal()" class="icon stratis-x-02 text-xs cursor-pointer dark:hidden">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2 pb-5">
                    <div>
                        <div class="relative">
                            <span
                                class="text-[12px] text-tertiary-text dark:text-tertiary-text-color-dark font-medium">İstifadəçilər</span>
                            <button id="dropdownDefaultButton_users"
                                class="cursor-pointer font-normal font-poppins rounded-2xl text-[12px] px-5 py-2.5 text-center flex items-center justify-between border border-[#0000001A] w-full h-[34px] mt-1 hover:bg-container-2 dark:bg-[#161E22] dark:text-white dark:border-[#FFFFFF1A] dark:hover:bg-[#1F282C]"
                                type="button" onclick="toggleDropdown_users()">
                                Seçim edin
                                <div>
                                    <img src="/images/Avankart/Sirket/chevron-down.svg" alt=""
                                        class="w-[15px] h-[13px] dark:invert">
                                </div>
                            </button>
                            <div id="dropdown_users"
                                class="hidden absolute mt-2 w-[402px] max-h-[200px] overflow-y-auto overflow-x-hidden custom-scroll bg-white border-[.5px] border-stroke rounded-lg shadow z-50 dark:bg-[#161E22] dark:border-[#FFFFFF1A] visible">
                                <label for="istifadeci-ramin-orucov"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="istifadeci-ramin-orucov" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Ramin Orucov Yaşar</span>
                                </label>

                                <label for="istifadeci-tofiq-aliyev"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="istifadeci-tofiq-aliyev" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Tofiq Əliyev</span>
                                </label>

                                <label for="istifadeci-isa-sadiqli"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="istifadeci-isa-sadiqli" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">İsa Sadıqlı</span>
                                </label>

                                <label for="istifadeci-eli-ismayilov"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="istifadeci-eli-ismayilov" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Əli İsmayılov</span>
                                </label>

                                <label for="istifadeci-ramin-orucov-2"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="istifadeci-ramin-orucov-2" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Ramin Orucov Yaşar</span>
                                </label>
                            </div>
                        </div>
                        <div class="relative">
                            <span
                                class="text-[12px] text-tertiary-text dark:text-tertiary-text-color-dark font-medium">Vəzifə</span>
                            <button id="dropdownDefaultButton_position"
                                class="cursor-pointer font-normal font-poppins rounded-2xl text-[12px] px-5 py-2.5 text-center flex items-center justify-between border border-[#0000001A] w-full h-[34px] hover:bg-container-2 dark:bg-[#161E22] dark:text-white dark:border-[#FFFFFF1A] dark:hover:bg-[#1F282C]"
                                type="button" onclick="toggleDropdown_position()">
                                Seçim edin
                                <div>
                                    <img src="/images/Avankart/Sirket/chevron-down.svg" alt=""
                                        class="w-[15px] h-[13px] dark:invert">
                                </div>
                            </button>
                            <div id="dropdown_position"
                                class="hidden absolute mt-2 w-[402px] max-h-[200px] overflow-y-auto overflow-x-hidden custom-scroll bg-white border-[.5px] border-stroke rounded-lg shadow z-50 dark:bg-[#161E22] dark:border-[#FFFFFF1A] visible">

                                <label for="subyekt-ux-designer"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-ux-designer" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">UX Designer</span>
                                </label>

                                <label for="subyekt-project-manager"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-project-manager" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Project Manager</span>
                                </label>

                                <label for="subyekt-cto"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-cto" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">CTO</span>
                                </label>

                                <label for="subyekt-product-owner"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-product-owner" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Product Owner</span>
                                </label>

                                <label for="subyekt-developer"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-developer" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Developer</span>
                                </label>
                            </div>
                        </div>
                        <div class="relative">
                            <span
                                class="text-[12px] text-tertiary-text dark:text-tertiary-text-color-dark font-medium">Müəssisə</span>
                            <button id="dropdownDefaultButton_company"
                                class="cursor-pointer font-normal font-poppins rounded-2xl text-[12px] px-5 py-2.5 text-center flex items-center justify-between border border-[#0000001A] w-full h-[34px] hover:bg-container-2 dark:bg-[#161E22] dark:text-white dark:border-[#FFFFFF1A] dark:hover:bg-[#1F282C]"
                                type="button" onclick="toggleDropdown_company()">
                                Seçim edin
                                <div>
                                    <img src="/images/Avankart/Sirket/chevron-down.svg" alt=""
                                        class="w-[15px] h-[13px] dark:invert">
                                </div>
                            </button>
                            <div id="dropdown_company"
                                class="hidden absolute mt-2 w-[402px] max-h-[200px] overflow-y-auto overflow-x-hidden custom-scroll bg-white border-[.5px] border-stroke rounded-lg shadow z-50 dark:bg-[#161E22] dark:border-[#FFFFFF1A] visible">

                                <label for="subyekt-ozsut"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-ozsut" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Özsüt Restoran</span>
                                </label>

                                <label for="subyekt-veyseloglu"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-veyseloglu" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Veysəloğlu MMC</span>
                                </label>

                                <label for="subyekt-borani"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-borani" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Boranı Restoran</span>
                                </label>

                                <label for="subyekt-tbilisi"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-tbilisi" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">Tbilisi Restoran</span>
                                </label>

                                <label for="subyekt-e-manat"
                                    class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                    <input type="checkbox" id="subyekt-e-manat" class="peer hidden">
                                    <div
                                        class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                    </div>
                                    <span class="dark:text-white">E-Manat</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="text-[12px] font-medium opacity-65">Cinsi</span>
                        <div class="mt-[6px]">
                            <div class="flex items-center flex-wrap gap-4">
                                <label for="cbx-man"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-man" class="peer hidden" name="card_gender"
                                        value="man">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Kişi</div>
                                </label>
                                <label for="cbx-woman"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-woman" class="peer hidden" name="card_gender"
                                        value="woman">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Qadın</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="openFilterModal()">Bağla</button>
                    <button type="reset" onclick="clearFilters()"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button onclick="applyFilters()" type="button"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </form>
        </div>
    </div>

    <!-- imports -->

    <% scripts = `<script src="/js/jquery-ui.js"></script><script src="/js/datatables/datatables.min.js"></script>
    <script src="/js/Avankart/istifadeciHovuzu/adminPanel/adminPanelTable.js"></script>
    <script src="/js/Avankart/istifadeciHovuzu/adminPanel/countdown.js"></script>`; %>