<div id="EmekdaslarRedaktePop"
    class="fixed hidden z-101 top-[30%] left-[50%] transform -translate-x-1/2 -translate-y-1/3 m-7">
    <div
        class="relative w-[403px] !h-[600px] bg-body-bg border-[#0000001A] border-[2px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] z-0 dark:bg-[#161E22]">
        <div
            class="mt-[24px] gap-[3px] font-normal ml-[20px] text-[12px] leading-[160%] font-poppins text-messages opacity-100">
            <div class="flex items-center justify-end px-3" onclick="emekdaslarclick()">
                <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                    class="cursor-pointer dark:text-white block dark:hidden text-me">
                <img src="/images/avankart-partner-pages-images/Close-dark.svg" alt="Close"
                    class="cursor-pointer dark:text-white dark:inline-block text-me">
            </div>
            <div class="flex items-center flex-col justify-center">
                <div class="font-semibold mb-[5px] dark:text-white text-[17px]">İşçi məlumatlarını redaktə et</div>
                <div class="font-normal opacity-65 text-[12px] dark:text-white">
                    İşçinin məlumatlarını dəyişdirin və yadda saxlayın
                </div>
            </div>
        </div>

        <div class="space-y-3 text-[12px] text-messages max-w-[363px] w-[100%] m-auto pt-[24px]">
            <div class="flex justify-between border-b pb-3 dark:border-[#FFFFFF1A]">
                <span class="font-normal opacity-50 text-[12px] dark:text-white">Adı:</span>
                <span class="font-medium text-[12px] dark:text-white">Ramin</span>
            </div>
            <div class="flex justify-between border-b pb-3 dark:border-[#FFFFFF1A]">
                <span class="font-normal opacity-50 dark:text-white">Cinsi</span>
                <span class="font-medium dark:text-white">Kişi</span>
            </div>
            <div class="flex justify-between border-b pb-3 dark:border-[#FFFFFF1A]">
                <span class="font-normal opacity-50 dark:text-white">Email ünvanı:</span>
                <span class="font-medium dark:text-white">ramin.orucovvv@gmail.com</span>
            </div>
            <div class="flex justify-between pb-3 ">
                <span class="font-normal opacity-50 dark:text-white">Telefon nömrəsi:</span>
                <span class="font-medium whitespace-nowrap dark:text-white">+994 50 770 35 22</span>
            </div>
            <div class="flex justify-between border-b pb-3 dark:border-[#FFFFFF1A] hidden">
                <span class="font-normal opacity-50 dark:text-white">Vəzifəsi:</span>
                <span class="font-medium whitespace-nowrap dark:text-white flex items-center gap-1.5">
                    <div>
                        <button 
                        class="flex items-center gap-1.5 cursor-pointer"
                        id="dropdownDefaultButton2" data-dropdown-toggle="dropdown2">
                            <span>Seçim edin</span>
                            <div class="cursor-pointer flex items-center gap-1.5">
                                <img src="/images/avankart-partner-pages-images/chevron-down-dark.svg" alt="chevron-down" class="dark:block">
                                <img src="/images/uzv-sirket/isciler/chevron-down.svg" alt="chevron-down" class="block dark:hidden">
                            </div>
                        </button>
                        <div id="dropdown2"
                                        class="z-10 hidden bg-body-bg dark:bg-body-bg-dark rounded-[8px] w-[294px] border-[0.5px] border-[#0000001A] dark:border-[#FFFFFF1A] !shadow-[0px_0px_12px_0px_rgba(0,0,0,0.1)] !mx-6">
                                        <div class="px-3 py-[18px] flex items-center justify-between">
                                            <span>Vəzifələr</span>
                                            <button
                                                class="flex items-center justify-end" onclick="emekdaslarclick()">
                                                <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                                                    class="cursor-pointer dark:text-white block dark:hidden">
                                                <img src="/images/avankart-partner-pages-images/Close-dark.svg" alt="Close"
                                                    class="cursor-pointer dark:text-white dark:inline-block">
                                            </button>
                                        </div>
                                        <div class="h-[1px] dark:bg-white black opacity-10"></div>
                                        <div
                                            class="relative flex items-center my-3 mx-auto w-[265px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] hover:bg-input-hover dark:bg-menu-dark transition-all ease-out duration-300">
                                            <input id="customSearch3" type="text" placeholder="Vəzifə axtar..."
                                                class="dark:text-white w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] placeholder:text-on-surface-variant-dark dark:bg-menu-dark dark:border-[#ffffff1A] hover:bg-input-hover">
                                            <div class="absolute right-3 dark:text-white">
                                                <div class="icon stratis-search-02"></div>
                                            </div>
                                        </div>
                                        <ul class="py-1 px-1"
                                            aria-labelledby="dropdownDefaultButton2">
                                            <li class="px-3 dark:hover:bg-container-2-dark py-3 border-b-[0.5px] dark:border-[#0000001A] !border-[#ffffff1A]">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Baş Mühasib">Baş Mühasib</a>
                                            </li>
                                            <li class="px-3 dark:hover:bg-container-2-dark py-3 border-b-[0.5px] dark:border-[#0000001A] !border-[#ffffff1A]">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Mühasib">Mühasib</a>
                                            </li>
                                            <li class="px-3 dark:hover:bg-container-2-dark py-3 border-b-[0.5px] dark:border-[#0000001A] !border-[#ffffff1A]">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Direktor">Direktor</a>
                                            </li>
                                            <li class="px-3 dark:hover:bg-container-2-dark py-3 border-b-[0.5px] dark:border-[#0000001A] !border-[#ffffff1A]">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Sürücü">Sürücü</a>
                                            </li>
                                            <li class="px-3 dark:hover:bg-container-2-dark py-3">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="İnsan Resursları Mütəxəssisi">İnsan Resursları Mütəxəssisi</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select id="realSelect2" class="hidden">
                                        <option value="">Seçim edin</option>
                                        <option value="Mühasiblər">Mühasiblər</option>
                                        <option value="Layihə rəhəbrləri">Layihə rəhəbrləri</option>
                                        <option value="İdarə heyyəti">İdarə heyyəti</option>
                                    </select>
                    </div>
                </span>
            </div>
            <div class="flex justify-between border-b pb-3 dark:border-[#FFFFFF1A] hidden">
                <span class="font-normal opacity-50 dark:text-white">Vəzifə qrupu:</span>
                <span class="font-medium whitespace-nowrap dark:text-white flex items-center gap-1.5">
                    <div>
                        <button 
                        class="flex items-center gap-1.5 cursor-pointer"
                        id="dropdownDefaultButton" data-dropdown-toggle="dropdown1">
                            <span>Seçim edin</span>
                            <div class="cursor-pointer flex items-center gap-1.5">
                                <img src="/images/avankart-partner-pages-images/chevron-down-dark.svg" alt="chevron-down" class="dark:block">
                                <img src="/images/uzv-sirket/isciler/chevron-down.svg" alt="chevron-down" class="block dark:hidden">
                            </div>
                        </button>
                        <div id="dropdown1"
                                        class="z-10 hidden bg-body-bg dark:bg-body-bg-dark rounded-[8px] w-[140px] border-[0.5px] border-[#0000001A] dark:border-[#FFFFFF1A] !shadow-[0px_0px_12px_0px_rgba(0,0,0,0.1)] !mx-6">
                                        <ul class="py-1 px-1"
                                            aria-labelledby="dropdownDefaultButton">
                                            <li class="px-3 py-1 dark:hover:bg-container-2-dark">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Mühasiblər">Mühasiblər</a>
                                            </li>
                                            <li class="px-3 py-1 dark:hover:bg-container-2-dark">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="Layihə rəhəbrləri">Layihə rəhəbrləri</a>
                                            </li>
                                            <li class="px-3 py-1 dark:hover:bg-container-2-dark">
                                                <a href="#" class="block text-[13px] font-medium"
                                                    data-value="İdarə heyyəti">İdarə heyyəti</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select id="realSelect" class="hidden">
                                        <option value="">Seçim edin</option>
                                        <option value="Mühasiblər">Mühasiblər</option>
                                        <option value="Layihə rəhəbrləri">Layihə rəhəbrləri</option>
                                        <option value="İdarə heyyəti">İdarə heyyəti</option>
                                    </select>
                    </div>
                </span>
            </div>
        </div>

        <button type="submit" onclick="saveEditedEmployee()"
            class="cursor-pointer text-[13px] mt-[73px] flex items-center justify-center mx-[24px] w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[34px] bg-primary rounded-full text-on-primary hover:bg-hover-button focus:bg-primary focus:shadow-[0px_0px_16px_0px_rgba(0,0,0,0.2)] disabled:bg-primary disabled:opacity-[30%] transition-all ease-out duration-300 focus:outline-none">
            Yadda saxla
        </button>
        <div class="flex items-center justify-center my-[26px] max-w-[400px] m-auto">
        <div class="w-full border-t border-stroke border-[0.5px] dark:bg-[#ffffff1A]"></div>
        <span
            class="mx-2 w-[28px] px-[2.5px] text-messages dark:text-white opacity-[50%] font-poppins text-[10px] font-medium leading-none whitespace-nowrap">və
            ya</span>
        <div class="w-full border-t border-stroke border-[0.5px] dark:bg-[#ffffff1A]"></div>
    </div>
        <button type="submit" onclick="excelPopUp()"
        class="flex justify-center items-center gap-[10px] dark:text-white cursor-pointer mx-[24px] w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[40px] border-[1px] border-surface-variant rounded-full text-[13px] text-messages hover:text-focus focus:text-focus disabled:border-[#7450864D] disabled:text-[#7450864D]">
        <img src="/images/avankart-partner-pages-images/vscode-icons_file-type-excel.svg"
            alt="excel" />
        Exceldən əlavə et
    </button>
    </div>
</div>