<form
  id="createNewPasswordSubmitForm"
  method="POST"
  onsubmit="return false;"
  autocomplete="off"
  data-url="/auth/create-new-password-submit"
>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <div>
    <label for="new_password"><%= __('createPassword.new_password') %></label>
    <input type="password" id="new_password" name="new_password" required />
  </div>
  <div>
    <label for="password_again"><%= __('createPassword.confirm_password') %></label>
    <input type="password" id="password_again" name="password_again" required />
  </div>
  <div id="error-message" style="color: red"></div>
  <div id="success-message" style="color: green"></div>

  <button onclick="submitForm('createNewPasswordSubmit')"><%= __('createPassword.submit') %></button>
</form>
