<div class="flex items-center justify-center h-full dark:bg-side-bar-bg-dark min-h-[calc(100vh-170px)] ">
    <div class="flex flex-col items-center justify-center text-center">
        <!-- Light mode image -->
        <img src="/images/error/error404.svg"
        alt="icon"
        class="block dark:hidden w-full max-w-[616px] h-auto pb-5">

        <!-- Dark mode image -->
        <img src="/images/error/error404.svg"
        alt="icon"
        class="hidden dark:block w-full max-w-[616px] h-auto pb-5">

        <h1 class="text-[15px] text-messages dark:text-primary-text-color-dark pb-2">
            404 not found!
        </h1>
        <p class="w-[218px] font-normal text-[13px] text-tertiary-text dark:text-secondary-text-color-dark">
            Belə bir səhifə tapılmadı və ya serverlə əlaqə kəsildi 
        </p>
    </div>
</div>